<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uchain.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.uchain.entity.User">
    <id column="stu_id" jdbcType="VARCHAR" property="stuId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="role" jdbcType="INTEGER" property="role" />
    <result column="user_desc" jdbcType="VARCHAR" property="userDesc" />
    <result column="user_signature" jdbcType="VARCHAR" property="userSignature" />
    <result column="head_picture_url" jdbcType="VARCHAR" property="headPictureUrl" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where stu_id = #{stuId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uchain.entity.User">
    insert into user (stu_id, `password`, user_name, 
      group_id, `role`, user_desc, 
      user_signature, head_picture_url)
    values (#{stuId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{groupId,jdbcType=INTEGER}, #{role,jdbcType=INTEGER}, #{userDesc,jdbcType=VARCHAR}, 
      #{userSignature,jdbcType=VARCHAR}, #{headPictureUrl,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.uchain.entity.User">
    update user
    set `password` = #{password,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      group_id = #{groupId,jdbcType=INTEGER},
      `role` = #{role,jdbcType=INTEGER},
      user_desc = #{userDesc,jdbcType=VARCHAR},
      user_signature = #{userSignature,jdbcType=VARCHAR},
      head_picture_url = #{headPictureUrl,jdbcType=VARCHAR}
    where stu_id = #{stuId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select stu_id, `password`, user_name, group_id, `role`, user_desc, user_signature, 
    head_picture_url
    from user
    where stu_id = #{stuId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select stu_id, `password`, user_name, group_id, `role`, user_desc, user_signature, 
    head_picture_url
    from user
  </select>
  <select id="selectByGroupId" parameterType="integer" resultMap="BaseResultMap">
    select stu_id, `password`, user_name, group_id, `role`, user_desc, user_signature,
    head_picture_url
    from user
    where group_id = #{groupId,jdbcType=INTEGER}
  </select>
</mapper>